
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
      <a class="navbar-brand" href="../../index.html">Banwalo</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="#/main_page">Home</a>
        </li>
        <li>
          <a >Our Designs &#9662;</a>
          <ul class="dropdown">
            <li><a  ng-repeat="category in categories" ng-click='fetchCategoryWiseCards(category._id)'>{{category.name}}</a></li>
          </ul>
        </li>

        <li>
          <a href="#/about">About US</a>
        </li>
        <li>
          <a href="#/contact">Contact</a>
          </a>
        </li>
        <a href="#/cart">
          <span class="glyphicon glyphicon-shopping-cart"></span>
        </a>
      </ul>
    </div>
    <div id="greeting" ng-if="user" style="float:right">
      <span class="glyphicon glyphicon-user"></span><strong> Hi, {{user.userName}}! &#9662;</strong>
      <ul class="dropdown">
        <li><a href="#/user_profile" >My Profile</a></li>
        <li><a href="#" >My Orders</a></li>
        <li><a href="#/" ng-click="logout()">Log Out</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>

  <!-- /.container -->
</nav>
<div class="container">

  <div class="row">
    <div class="box">
      <div class="col-lg-12 text-center">
        <hr>
        <h2 class="intro-text text-center">Order
          <strong>Form</strong>
        </h2>
        <hr>

        <form class="form" method="post">


          <label for="input_address" class="sr-only">Address</label>
          <input type="text" id="input_address" class="form-control" placeholder='Address'required ng-model="data.address">
          <br>
          <label for="input_mobile" class="sr-only">Mobile Number</label>
          <input type="number" id="input_mobile" class="form-control" placeholder='0123-1234567' required ng-model="data.mobile_no">
          <br>
          <label for="input_phone" class="sr-only">Phone Number</label>
          <input type="number" id="input_phone" class="form-control" placeholder='0213-1234567'  ng-model="data.phone_no">
          <br>

          <button class="btn btn-primary btn-lg" type="submit" ng-click="order()">Confirm Order</button>

          <p class="text-center">
            {{message}}
          </p>
          <p ng-show="errorMessage.length" style="color: red; text-align: center" > {{errorMessage}}</p>
        </form>
      </div>
    </div>
  </div>
</div>
