<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
      <a class="navbar-brand" href="../../index.html">Banwalo</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">



        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ng-repeat="category in categories" onMouseOver="this.style.cursor='pointer'"
                   ng-click='fetchCategoryWiseCards(category.name)'>{{category.name}}</a>
              <form class="form-inline text-center" method="post">
                <label for="category" class="sr-only">Category Name</label>
                <input type="text" id="category" class="form-control" placeholder="Add New Category" required ng-model= data.name>
                <button class="btn btn-primary" type="button" ng-click="createCategory()"> + </button>
              </form>
            </li>
          </ul>
        </li>
        <li>
          <a href="#/admin_order">Orders</a>
        </li>
        <li>
          <a href="#/admin_users">Users</a>
        </li>
        <li>
          <a href="#/">Log Out</a>
        </li>



      </ul>
      <!--</div>-->
      <!-- /.navbar-collapse -->
    </div>
  </div>
  <!-- /.container -->
</nav>


<div class="container">

  <div class="row">
    <div class="box">
      <div class="col-lg-12 text-center">

        <h1 class="brand-before">
          WELCOME TO
        </h1>
        <h1 class="brand-name"> ADMIN PANEL</h1>
        <hr class="tagline-divider">

      </div>
    </div>
  </div>
  <script>

    $('#hover-drop').hover(function() {
      $(this).dropdown('toggle');
    });

  </script>



  <!--<div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Beautiful boxes
          <strong>to showcase your content</strong>
        </h2>
        <hr>
        <p></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
      </div>
    </div>
  </div>-->

</div>
<!-- /.container -->


