

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
      <a class="navbar-brand" href="../../index.html">Banwalo</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">



        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ng-repeat="category in categories" onMouseOver="this.style.cursor='pointer'"
                   ng-click='fetchCategoryWiseCards(category.name)'>{{category.name}}</a>
              <form class="form-inline text-center" method="post">
                <label for="category" class="sr-only">Category Name</label>
                <input type="text" id="category" class="form-control" placeholder="Add New Category" required ng-model= data.name>
                <button class="btn btn-primary" type="button" ng-click="createCategory()"> + </button>
              </form>
            </li>
          </ul>
        </li>
        <li>
          <a href="#/admin_order">Orders</a>
        </li>
        <li>
          <a href="#/admin_users">Users</a>
        </li>
        <li>
          <a href="#/">Log Out</a>
        </li>



      </ul>
      <!--</div>-->
      <!-- /.navbar-collapse -->
    </div>
  </div>
  <!-- /.container -->
</nav>

<div class="container">

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">
          <strong>Orders</strong>
        </h2>
        <hr>


        <div ng-repeat="order in orders">


          <div class="col-sm-2 ">
            <h4>Items</h4>
            <p style="word-wrap: break-word">{{order.items[0].card.name}}</p>
          </div>


          <div class="col-sm-2 text-center">
            <h4>Date</h4>
            <p>{{order.date_of_order}}</p>
          </div>

          <div class="col-sm-2 text-center">
            <h4>Total Bill</h4>
            <p>{{order.total_bill}}</p>
          </div>

         <!-- <div class="col-sm-2 text-center">
            <h3>Order Status</h3>
            <p>{{order.status}}</p>
          </div>-->

       <div class="col-sm-2 text-center">
            <h4>User Id</h4>
         <p style="word-wrap: break-word">{{order.user_id}}</p>
          </div>

          <div class="col-sm-2 text-center">
            <h4>User Address</h4>
            <p>{{order.address}}</p>
          </div>

          <div class="col-sm-2 text-center">
            <h4>User Number</h4>
            <p>{{order.mobile_no}}</p>
          </div>


          <div class="clearfix"></div>


        </div>

      </div>

    </div>
  </div>
</div>
<script>

  $('#hover-drop').hover(function() {
    $(this).dropdown('toggle');
  });

</script>
