<link href="../../styles/main.css" rel="stylesheet">

<div class="container">

  <div class="row">
    <div class="box">
      <div class="col-lg-12 text-center">


        <form class="form-signin" method="post">
          <!--<h2 class="form-signin-heading">Please sign up</h2>-->

          <label for="inputCname" class="sr-only">Category Name</label>
          <input type="text" id="inputCname" class="form-control" placeholder="Category Name" required ng-model="data.CategoryName">
          <br>
          <label for="input_CId" class="sr-only">Category Id</label>
          <input type="text" id="input_CId" class="form-control" placeholder="Category Id" required ng-model="data.CategoryId">
          <br>

          <!-- <label for="city" class="sr-only">City</label>
           <input type="text" id="city" class="form-control" placeholder="City" required autofocus>-->


          <button class="btn btn-primary btn-lg" type="submit" ng-click="AddCategory()">Add Category</button>

          <!--<p ng-show="errorMessage.length" style="color: red; text-align: center" >  {{errorMessage}}</p>-->
        </form>
      </div>
    </div>
  </div>
</div>

<link href="../../styles/main.css" rel="stylesheet">

<div class="container">

  <div class="row">
    <div class="box">
      <div class="col-lg-12 text-center">


        <form class="form-signin" method="post">
          <!--<h2 class="form-signin-heading">Please sign up</h2>-->

          <label for="inputCRname" class="sr-only">Card Name</label>
          <input type="text" id="inputCRname" class="form-control" placeholder="Card Name" required ng-model="data.CardName">
          <br>
          <label for="input_CId" class="sr-only">Category Id</label>
          <input type="text" id="inputCId" class="form-control" placeholder="Category Id" required ng-model="data.CategoryId">
          <br>
          <label for="input_CRId" class="sr-only">Card Id</label>
          <input type="text" id="input_CRId" class="form-control" placeholder="Card Id" required ng-model="data.CardId">
          <br>
          <label>IMAGE</label>

          <input type="file" accept="image/*" multiple
                 image="images"
                 resize-max-height="300"
                 resize-max-width="250"
                 resize-quality="0.7" />
          <img ng-repeat="img in images" ng-src="{{img.url}}" type="{{img.file.type}}" />
          <img ng-repeat="img in images" ng-src="{{img.resized.dataURL}}" />
          <br>
          <label for="Price" class="sr-only">Card Price</label>
          <input type="number" id="price" class="form-control" placeholder="Card Price" required ng-model="data.CardPrice">
          <br>
          <label for="Description" class="sr-only">Description</label>
          <input type="text" id="description" class="form-control" placeholder="Description" required ng-model="Description">
          <br>


          <!-- <label for="city" class="sr-only">City</label>
           <input type="text" id="city" class="form-control" placeholder="City" required autofocus>-->


          <button class="btn btn-primary btn-lg" type="submit" ng-click="AddCard()">Add Card</button>

          <!--<p ng-show="errorMessage.length" style="color: red; text-align: center" > {{errorMessage}}</p>-->
        </form>
      </div>
    </div>
  </div>
</div>
