
<link href="../../styles/gallery.css" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet">

<!-- Navigation -->
 <nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
      <a class="navbar-brand" href="../../index.html">Banwalo</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ng-repeat="category in categories" onMouseOver="this.style.cursor='pointer'"
                   ng-click='fetchCategoryWiseCards(category.name)'>{{category.name}}</a>
              <form class="form-inline text-center" method="post">
                <label for="addCategory" class="sr-only">Category Name</label>
                <input type="text" id="addCategory" class="form-control" placeholder="Add New Category" required ng-model= data.name>
                <button class="btn btn-primary" type="button" ng-click="createCategory()"> + </button>
              </form>
            </li>
          </ul>
        </li>

        <li>
          <a href="#/admin_order">Orders</a>
        </li>
        <li>
          <a href="#/admin_users">Users</a>
        </li>
        <li>
          <a href="#/">Log Out</a>
        </li>
        </div>
      </nav>
    <!-- /.navbar-collapse -->
</div>
   </nav>
  <!-- /.container -->
<div class="container">


  <div class="row">
    <div class="box">
      <div class="col-lg-12 text-center">
        <hr>
        <h2 class="intro-text text-center"> {{catName}}
          <strong>gallery</strong>
        </h2>
        <hr>



<form class="form-inline text-center" method="post">

  <label for="category" class="sr-only">Category Name</label>
  <input type="text" id="category" class="form-control" placeholder={{catName}} required ng-model= catName>


  <button class="btn btn-primary" type="submit" ng-click="update()">Update</button>


  <br>
</form>


<br>


      <ul class="products rig columns-3">
        <li class="imagebox" ng-repeat="card in cards">

          <a href="" ng-click= 'fetchCard(card._id)' > <img class="thumbnail" src="{{card.url}}"  alt="{{card.name}}" /></a>
          <p style="color: #080800">Rs.{{card.price}}</p>
          <h3>{{card.name}}</h3>

        </li>
      </ul>


      <button class="btn btn-primary btn-lg" type="submit" ng-click="fetchCategory(catName)">Add Cards</button>

      <button class="btn btn-primary btn-lg" type="submit" ng-click="deleteCategory()">Delete Category</button>



  </div>
    </div>
  </div>
</div>
