<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
      <a class="navbar-brand" href="../../index.html">Banwalo</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">



        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories
            <span class="caret"></span></a>
          <ul class="dropdown-menu">

            <li><a ng-repeat="category in categories" ng-click='fetchCategoryWiseCards(category.name)'>{{category.name}}</a>
              <form method="post">
                <label for="category" class="sr-only">Category Name</label>
                <input type="text" id="category" class="form-control" placeholder="Add New Category" required ng-model= data.name>
                <button class="btn btn-primary" type="button" ng-click="createCategory()"> + </button>
              </form>
            </li>
          </ul>
        </li>
        <li>
          <a href="#/admin_order">Orders</a>
        </li>
        <li>
          <a href="#/admin_users">Users</a>
        </li>
        <li>
          <a href="#/">Log Out</a>
        </li>



      </ul>
      <!--</div>-->
      <!-- /.navbar-collapse -->
    </div>
  </div>
  <!-- /.container -->
</nav>

<div ng-repeat="card in card" class="container">

  <div class="row">
    <div class="box">
      <div class="col-lg-12 text-center">

        <div class="col-sm-6 text-center">
          <img class="img-responsive card" src="{{card.url}}"  alt="{{card.name}}" />

        </div>

        <div class="col-sm-6">

          <form>
            <label for="cardName" class="sr-only">Card Name</label>
            <input type="text" id="cardName" class="form-control" placeholder={{card.name}} required ng-model=card.name>

            <br>

            <label for="cardPrice" class="sr-only">Card Price</label>
            <input type="text" id="cardPrice" class="form-control" placeholder={{card.price}} required ng-model=card.price>

          </form>


          <button class="btn btn-primary btn-lg" type="button" ng-click="updateCard()">Update Card</button>
          <p style="color: deeppink ; text-align: center">
          <h5>{{message}}</h5>
          </p>

        </div>

        <div class="clearfix"></div>
      </div>

    </div>
  </div>
</div>
